// Variables de color
$color-primario: #EF5350;
$color-sec-texto-detalles: #fff;
$color-cartas: #3761A8;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #FECA1B;
    color: $color-sec-texto-detalles;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: $color-primario;
    padding: 1rem;

    &__titulo {
        text-align: center;
        font-size: 2rem;
    }
}

.main {
    flex: 1;
    padding: clamp(2rem, 1.3043rem + 3.4783vw, 4rem) clamp(2rem, -1.4783rem + 17.3913vw, 12rem);

    .cards-container {
        display: grid;
        gap: 2rem;
        //compu
        grid-template-columns: repeat(5, 1fr);

        //tablet
        @media (max-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
        }

        //movil
        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .card {
        background-color: $color-cartas;
        border: 2px solid $color-sec-texto-detalles;
        border-radius: 10px;
        box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        overflow: hidden;
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }

        &__imagen {
            width: 75%;
            height: auto;
        }

        &__nombre {
            font-size: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
            padding: 0.5rem 0;
            margin-bottom: 1.25rem;
            color: $color-sec-texto-detalles;
            text-transform: capitalize;
        }
    }
}

.footer {
    background-color: $color-primario;
    padding: 1rem;
    text-align: center;

    &__texto {
        font-size: 0.75rem;
        color: $color-sec-texto-detalles;
    }
}